<ul>
	<li>
		<a href={{path('ajouter_creneau')}}><button>ajouter un créneau</button></a>
	</li>
	<li>
		<ul>
			{%for date in nounou.disponibilites%}
			<li>date de debut : {{date.datedebut|date("d/m/Y")}} <a href={{path('supprimer_creneau', {id: date.id})}}><button>supprimer</button></a></li>
			{% endfor %}
		</ul>
	</li>
</ul>
