{% extends 'base.html.twig' %}

{%block body%}

<ul>
{% for nounou in nounous %}
	<li>{{nounou.utilisateur.prenom}} {{nounou.utilisateur.nom}}
		<ul>
			<li>compte valide : {{nounou.valide?"oui":"non"}} <a href="/traitement/admin/nounou/{{nounou.utilisateur.id}}/{{nounou.valide?"bloquer":"debloquer"}}"><button>{{nounou.valide?"desactiver":"activer"}}</button></a>  </li>
		</ul>
	</li>
{% endfor %}

</ul>
{%endblock%}
