{% extends 'base.html.twig' %}

{%block title%}
	Résultat de la recherche
{%endblock%}

{%block body%}
	<ul>
	{%for nounou in nounous%}
		<ul>
			<li>{{  nounou.utilisateur.nom }} {{   nounou.utilisateur.prenom }}</li>
		<li>{{ nounou.utilisateur.ville }}</li>
		<li>Langue parlée
			<ul>
				{% for langue in nounou.langues %}
					<li>{{ langue.intitule }}</li>
					{%endfor%}
			</ul>
		</li>
		</ul>
	{%endfor%}
	</ul>
{%endblock%}
