{% extends 'base.html.twig' %}

{% block javascripts %}
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{asset('JS/dashboardAdmin.js')}}"></script>
{% endblock %}
{% block title %} Whys {%endblock%}
{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ asset('CSS/stdAuth.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('CSS/dashboardAdmin.css') }}">
{% endblock %}
{% block body %}
  <div class="pag">
    <div class="paneladmin">
      <div class="content">
        <div id="nounouAttente">
          Liste des Nounous en attentes :
        </div>
        <div id="datasNounouAttente">

        </div>
        <div id="langueAttente">
          Liste des langues en attentes :
        </div>
        <div id="datasLangueAttente" data-spy="scroll">
          <h1>NON IMPLÉMENTÉ EN V1</h1>
        </div>
      </div>
    </div>
    <div class="paneladmin">
      <div class="content">
        <div class="title">
          Liste des Nounous
        </div>
        <div class="datas">
          <div id="panelRecherche">
            <input type="text" name="rech" id="rech" class="form-control center-block" placeholder="Rechercher...">
          </div>
          <div id="datasNounou" class="donnees">

          </div>
        </div>
      </div>
    </div>
    <div class="paneladmin">
      <div class="content">
        <div class="title">
          Statistiques
        </div>
        <div class="panelStats" data-spy="scroll">

        </div>
      </div>
    </div>
  </div>
{% endblock %}
