{% extends 'base.html.twig' %}
{% block javascripts %}
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ asset('JS/dashboardParent.js') }}"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
{% endblock %}
{% block title %} Whys {%endblock%}
{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ asset('CSS/dashboardParent.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('CSS/stdAuth.css') }}">
{% endblock %}
{% block body %}
<input type="hidden" id="id" value="{{utilisateur.id}}">
<div class="overlay" id="overlayEnfant">
	<div class="panelAjout">
		<div class="ajoutEnfant">
			<div class="titre">
				<h2>Ajouter un enfant :</h2>
			</div>
			<div class="champs">
				<div class="champ">
					<label for="prenom">Prénom :</label>
					<input id="nomEnf" type="text" name="prenom" class="form-control" value="">
				</div>
				<div class="champ">
					<label for="prenom">Date de naissance :</label>
					<input id="naissEnf" type="date" name="naissance" class="form-control" value="">
				</div>
				<div class="champ">
					<label for="prenom">Restriction alimentaire :</label>
					<textarea id="restEnf" name="restriction" class="form-control"></textarea>
				</div>
				<div id="champ">
					<input id="validerAjout" type="button" class="form-control btn btn-submit" name="valideRecherche" value="Ajouter">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="overlay" id="overlayNotation">
	<div class="panelAjout">
		<div class="ajoutEnfant">
			<div class="titre">
				<h2>Noter la prestation :</h2>
			</div>
			<div class="champs">
				<div class="champ">
					<input type="hidden" id="idRes" value="">
					<label for="prenom">Note :</label>
					<select id="Note">
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
				<div id="champ">
					<input id="validerNotation" type="button" class="form-control btn btn-submit" name="valideNotation" value="Noter">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page">
  <div class="rechercheNounou">
    <div class="center-block presentation panel">
      <h3>Je souhaites trouver une nounou :</h3>
      <div class="recherche">
        <div class="params">
          <div class="param">
            <h3>Du</h3>
            <input type="date" class="form-control param-search" name="dateDebut" id="dateDebut"/>
					</div>
					<div class="param">
						<h3>à</h3>
						<input type="time" class="form-control param-search" name="timeDebut" id="timeDebut"/>
						<h3>heure</h3>
					</div>
          <div class="param">
            <h3>au</h3>
            <input type="date" class="form-control param-search" name="dateFin" id="dateFin"/>
					</div>
					<div class="param">
						<h3>à</h3>
						<input type="time" class="form-control param-search" name="timeFin" id="timeFin"/>
						<h3> heure </h3>
					</div>
					<br>
          <div class="param">
            <h3>à</h3>
            <select id="ville" class="form-control param-search">
              <!-- A REMPLACER PAR LE VRAI SELECT -->
			  {%for ville in villes%}
			  <option value={{ ville }}>{{ville}}</option>
			  {%endfor%}
            </select>
          </div>
          <div class="param">
            <h3>parlant</h3>
            <select id="langue" class="form-control param-search">
              <!-- A REMPLACER PAR LE VRAI SELECT -->
			  {%for langue in langues%}
				  <option value={{ langue.intitule }}>{{ langue.intitule }}</option>
				  {%endfor%}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <div id="btnValider">
              <input type="button" class="form-control btn btn-submit" id="valideRecherche" name="valideRecherche" value="C'est parti !">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="panelHisto">
      <div class="center-block panel histo">
        <h2>Les Nounous que j'ai déjà contacté :</h2>
			<ul>
				{%for creneaux in utilisateur.parent.creneauxReserves%}
					<li>{{creneaux.nounou.utilisateur.prenom}} {{creneaux.nounou.utilisateur.nom}} <b>Portable:</b> {{creneaux.nounou.portable}}</li>
				{%endfor%}
			</ul>
      </div>
    </div>
    <div class="panelProchGarde">
      <div class="center-block panel prochGarde">
        <h2>Les prochaines gardes que j'ai réservées:</h2>
			<ul>
			{%for creneaux in utilisateur.parent.creneauxReserves%}
			{%if not creneaux.note %}
				{% if creneaux.accepte %}
				<li class="valide">{{creneaux.datedebut|date}} - {{creneaux.datefin|date}} - Validé
					<input id="{{creneaux.id}}" type="button" class="btnNoter btn btn-success"value="Noter la prestation">
				</li>
				{% else %}
				<li class="non-valide">{{creneaux.datedebut|date}} - {{creneaux.datefin|date}} - Pas encore validé
				</li>
				{%endif%}
			{%endif%}
			{%endfor%}
			</ul>
      </div>
    </div>
    <div class="panelEnfant">
      <div class="center-block panel enfants">
        <h2>Les enfants:</h2>
        <div class="liste center-block">
          <div class="listeEnfant">

          </div>
        </div>
        <div class="buttons">
          <input id="btnAjouter" class="center-block btn btn-primary" type="button" name="" value="Ajouter">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
