{% extends 'base.html.twig' %}


{% block javascripts %}
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src='{{ asset("JS/calendar/moment.min.js")  }}'></script>
<script src='{{ asset("JS/calendar/fullcalendar.js") }}'></script>
<script src='{{ asset("JS/calendar/locale-all.js") }}'></script>
<script src='{{ asset("JS/dashboardNounou.js") }}'></script>
{% endblock %}
{% block title %} Whys {%endblock%}
{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ asset('CSS/stdAuth.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('CSS/dashboardNounou.css')}}">
  <link rel='stylesheet' href="{{ asset('CSS/calendar/fullcalendar.css')}}" />

{% endblock %}
{% block body %}
<input type="hidden" id="bloque" name="" value="{{bloque}}">
	<div id="overlay">
		<div class="panel">
			<div class="inner-panel">
				<div class="titre">
					<h2>Nouveau créneau :</h2>
				</div>
				<div class="form-group">
					<label for="dateDebut">Date de début:</label>
					<div class="row">
						<div class="col-sm-6 ">
							<input type="date" class="form-control col-sm-3" name="dateDebut" id="dateDebut">
						</div>
						<div class="col-sm-6 ">
							<input type="time" class="form-control col-sm-3" name="timeDebut" id="timeDebut">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="dateDebut">Date de fin:</label>
					<div class="row">
						<div class="col-sm-6 ">
							<input type="date" class="form-control col-sm-3" name="dateFin" id="dateFin">
						</div>
						<div class="col-sm-6 ">
							<input type="time" class="form-control col-sm-3" name="timeFin" id="timeFin">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="recurrence">Récurrence :</label>
					<select name="recurrence" class="form-control" id="recurrence">
						<option value="ponctuelle">Ponctuelle</option>
						<option value="hebdomadaire">Hebdomadaire</option>
					</select>
				</div>
				<div class="form-group">
					<input type="button" class="form-control btn btn-submit" name="button" id="Valider" value="Valider"></input>
				</div>
			</div>
		</div>
	</div>
  <div class="page">
    <div class="menu">
      <div class="photoProfil">
          <img class="profile-img-max" src="{{asset(image)}}"/>
      </div>
      <div class="info">
        <div class="nomination">
          <h2>{{utilisateur.prenom}} {{utilisateur.nom|upper}}</h2>
          <h4 id="email">{{utilisateur.email}}</h4>
        </div>
        <div class="noteMoyenne">
			<div id="note"><img class="biberon" src="{{asset('images/biberon.png')}}" alt="Note Moyenne">{%if noteMoyenne%}{{ noteMoyenne }}{%else%}Pas encore évaluée{%endif%}</div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="panelNotif">
        <div class="notif">
          <div class="suiv">
          	<img id="btnSuiv" src="{{ asset("images/next.png")}}" alt="">
          </div>
					<div class="prec">
						<img id="btnPrec" src="{{ asset("images/back.png")}}" alt="">
					</div>
					<div class="zoneNotif">
						{% if not bloque %}
						<div class="carteNotif">

						</div>
						<div class="zoneBouton">
							<input type="button" id="accepter" class="form-control btn btn-success " name="" value="Accepter">
							<input type="button" id="refuser" class="form-control btn btn-danger " name="" value="Refuser">
						</div>
						{% else %}
						<div class="carteNotif">
							<h1>Votre profil est invalidé pour le moment, vous ne pouvez pas prendre de nouvelles gardes.</h1>
						</div>
						{% endif %}
					</div>
        </div>
      </div>
      <div class="panelCalendrier">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
{% endblock %}
