{% extends 'base.html.twig' %}
{% block javascripts %}

  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="{{asset('JS/bootstrap-formhelpers-phone.js')}}"></script>
{% endblock %}
{% block title %} Parametres - Nounou {% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ asset('CSS/connexion.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('CSS/stdAuth.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('CSS/inscriptionParent.css') }}">
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <h3 class="form-signin-heading">Mes informations :</h3>
              <br>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              {{ form_start(form) }}
              <div class="col-lg-12">
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      {% if image %}
                      <img class="profile-img" src="{{image}}" alt="Mon Image de profil">
                      {% else %}
                      <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="Mon image de profil"/>
                      {% endif %}
                      {{ form_widget(form.photo)}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-group">
                    <label for="nom">Nom :</label>
                    {{ form_widget(form.utilisateur.nom, {"attr":{"placeholder": "Mon nom", "class": "form-control"}})}}
                  </div>
                  <div class="form-group">
                    <label for="prenom">Prenom :</label>
                    {{ form_widget(form.utilisateur.prenom, {"attr":{"placeholder": "Mon prenom", "class": "form-control"}})}}
                  </div>
                  <div class="form-group">
                    <label for="email">Email :</label>
                    {{ form_widget(form.utilisateur.email, {"attr":{"placeholder": "Mon email", "class": "form-control"}})}}
                  </div>
                  <div class="form-group">
                    <label for="ville">Ville :</label>
                    {{ form_widget(form.utilisateur.ville, {"attr":{"placeholder": "Ma ville", "class": "form-control"}})}}
                  </div>
                  <div class="form-group">
                    <label for="passwd">Nouveau mot de passe :</label>
                    {{ form_widget(form.utilisateur.mdp.first, {"attr":{"placeholder": "Mot de passe", "class": "form-control"}})}}
                  </div>
                  <div class="form-group">
                    <label for="r-passwd">Retaper le mot de passe :</label>
                    {{ form_widget(form.utilisateur.mdp.second, {"attr":{"placeholder": "Retaper le mot de passe", "class": "form-control"}})}}
                  </div>
                  <div class="form-group">
                    <label for="portable">Portable :</label>
                    {{ form_widget(form.portable, {"attr":{"placeholder": "Mon numéro de portable", "class": "form-control bfh-phone", "data-format": "dddddddddd"}})}}
                  </div>
                  <div class="form-group">
                    <label for="desc">Présentation :</label>
                    {{ form_widget(form.presentation, {"attr":{"placeholder": "Si je devais me décrire en quelques phrases...", "class": "form-control"}})}}
                  </div>
                  <div class="form-group">
                    <label for="">Langues parlée(s) :</label>
                    {{ form_widget(form.langues, {"attr":{"name": "languesParle", "class": "form-control"}})}}
                  </div>
                  <div class="form-group">
                    <label for="dateNaissance">Date de naissance :</label>
                    {{ form_widget(form.datenaissance, {"attr":{"name": "dateNaissance", "class": "form-control"}})}}
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        {{ form_widget(form.envoyer, {"attr":{"value": "Valider", "class": "form-control btn btn-submit"}})}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
