{% extends 'base.html.twig' %}
{% block javascripts %}
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{asset('JS/rechercheCreneau.js')}}"></script>
{% endblock %}
{% block title %} Whys {%endblock%}
	{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{asset('CSS/navbar.css')}}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ asset('CSS/stdAuth.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('CSS/utilisateurNonConnecte.css') }}">
	{% endblock %}
	{% block body %}
		<form action={{ path('recherche_nounou') }} method="get">
			{%if dispos%}
			<div class="page">
			{%else%}
			<div class="pageDecal">
			{%endif%}
					<div class="rechercheNounou">
						<div class="presentation center-block panel">
							<div class="recherche">
								<div class="params">
									<div class="param">
										<h3>Du</h3>
										<input type="date" class="form-control param-search" name="dateDebut" id="dateDebut"/>
									</div>
									<div class="param">
										<h3>à</h3>
										<input type="time" class="form-control param-search" name="timeDebut" id="timeDebut"/>
										<h3>heure</h3>
									</div>
									<div class="param">
										<h3>au</h3>
										<input type="date" class="form-control param-search" name="dateFin" id="dateFin"/>
									</div>
									<div class="param">
										<h3>à</h3>
										<input type="time" class="form-control param-search" name="timeFin" id="timeFin"/>
										<h3> heure </h3>
									</div>
									<br>
									<div class="param">
										<h3>à</h3>
										<select id="ville" class="form-control param-search">
											{%for ville in villes%}
												<option value={{ ville }}>{{ville}}</option>
											{%endfor%}
										</select>
									</div>
									<div class="param">
										<h3>parlant</h3>
										<select id="langue" class="form-control param-search">
											{%for langue in langues%}
												<option value={{ langue.intitule }}>{{ langue.intitule }}</option>
											{%endfor%}
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-4 col-xs-offset-4">
										<div id="btnValider">
											<input type="button" class="form-control btn btn-submit" id="valideRecherche" name="valideRecherche" value="C'est parti !">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<div class="results panel-body">
					{% if dispos %}
					{% for dispo in dispos %}
						{% if dispo.nounou.valide %}
						<div class="result">
							<div class="photo">
								<img class="photoNounou" src="{{ asset(dispo.nounou.photo) }}" alt="Photo de profil">
							</div>
							<div class="datas">
								<h3>{{dispo.nounou.utilisateur.prenom}} {{dispo.nounou.utilisateur.nom|upper}}</h3>
								<h4><b>Ville : </b>{{dispo.nounou.utilisateur.ville}} </h4>
								<h4><b>Telephone : </b>{{dispo.nounou.portable}}</h4>
								<h4><b>Présentation : </b>{{dispo.nounou.presentation}}</h4>
							</div>
							<div class="boutons">
								<input id="{{dispo.id}}" type="button" class="demande btn btn-success" name="" value="Demander une réservation">
							</div>
						</div>
						{% endif %}
					{% endfor %}
					{% endif %}
				</div>
			</div>
		</form>
	{% endblock %}
