.rechercheNounou{
  border-color: #ccc;
  background-color:rgba(245, 245, 245, 0.55);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

#btnValider{
  padding-top: 20px;
}
.container{
  padding-top: 300px;
}
