.page{
  padding-top: 50px;
  width: 100%;
  height: 100%;
}
.panel{
  background-color: rgba(255, 255, 255, 0.6);
}
.presentation{
  width:80%;
  border-radius: 10px;
  padding: 20px;
}
.content{
  width: 100%;
  height: 70vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
#btnValider{
  padding-top: 10px;
}
.panelHisto{
  width: 30%;
  height: 100%;
}
.panelProchGarde{
  width: 40%;
  height: 100%;
}

.panelEnfant{
  width: 30%;
  height:100%;
}
.histo{
  width:75%;
  height:100%;
}

.prochGarde{
  width: 75%;
  height: 100%;
}


.enfants{
  width: 75%;
  height: 100%;
}
.liste{
  width:90%;
  height:75%;
}
#btnAjouter{

  width: 45%;
}

.buttons{
  padding: 10px;
}
.params{
  display: flex;
  flex-direction: row;
}
.param{
  width: 20%;
  display: flex;
  flex-direction: row;

}
.param-search{
  width: 75%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.overlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    padding-left: 33%;
    padding-top: 15%;
}
input{
  text-align: center;
}
#timeDebut, #timeFin{
  width: 40%;
}
.panelAjout{
  width: 50%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 20px;
}
.enfant{
  background-color: #FFF;
  border-radius: 10px;
  cursor: pointer;
}
.champ{
  margin: 5px;
}
@media screen and (max-width: 767px) {
  .params{
    display: flex;
    flex-direction: column;
  }

  .param{
    width: 100%;
  }
}
.valide{
  color: rgb(16, 112, 11);
}
.non-valide{
  color: rgb(177, 106, 0);
}
