.pag {
	padding-top: 50px;
	height: 100vh;
	display: flex;
	flex-direction: row;
  width: 100%;
}

.paneladmin{
	width: 33%;
	height: 100%;
	margin: 10px;
}

.content{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding:10px;
}
.title{
	text-align: center;
	font-size: 30px;
	height: 5%;

}
.datas{
	height: 95%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}
#nounouAttente{
	font-size: 30px;
	height: 5%;
}
#datasNounouAttente{
	height: 45%;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	overflow: scroll;
}
#langueAttente{
	font-size: 30px;
	height: 5%;
}
#datasLangueAttente{
	height: 45%;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}
#rech{
	width: 50%;
}
#panelRecherche{
	height: 5%;
	margin: 10px;
}
.photoNounou{
	width: 80px;
	height: 80px;
	border-radius: 50%;

}
.nounou{
	text-align: left;
	height: 150px;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
}
.data{
	width:70%;
	padding: 15px;
}
.photo{
	display: flex;
	margin:10px;
}
.zoneBouton{
	display: table-cell;
	vertical-align: middle;
	margin-top: 40px;
}
.zoneBouton2{
	display: table-cell;
	vertical-align: middle;
	margin-top: 60px;
}
.donnees{
	overflow: scroll;
	height: 90%;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 10px;
}
