.page{
  padding-top: 50px;
  display: block;
}

.menu{
  width:100%;
  height: 200px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.content{
  width:100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.photoProfil{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 100%;
}
.info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.nomination{
  text-align: left;
  padding-left: 20px;
  width: 100%;
  height: 60%;
}
.noteMoyenne{
  width: 100%;
  height: 40%;
  text-align: left;
}
.panelNotif{
  margin:0.13%;
  padding: 10px;
  width: 39%;
  height:100%;
  min-width: 300px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
}
.panelCalendrier{
  margin: 0.13%;
  width: 60.3%;
  height: 100%;
  min-width: 200px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
}
.notif{
  width: 100%;
  height: 100%;
}
.profile-img-max
{
    width: 175px;
    height: 175px;
    display: block;
    border: white;
    margin:auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.biberon{
  width: 80px;
  height: 80px;
}
#calendar{
  margin:10px;
  width: 97%;
  height: 97%;
}
#note{
  font-size: 30px;
}
#overlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    padding-left: 37%;
    padding-top: 15%;
}
.panel{
  width:40%;
  padding: 20px;
  min-width: 300px;
}
.suiv{
  margin-top: 40%;
  float: right;
}
.prec{
  margin-top: 40%;
  float: left;
}
.zoneNotif{
  width: 100%;
  height: 100%;
  padding: 20px;

}
.carteNotif{
  height: 90%;
  width: 100%;
}
.zoneBouton{
  height: 10%;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
#accepter{
  width: 30%;
  float: left;
}
#refuser{
  width: 30%;
  float: right;
}
@media screen and (max-width: 767px) {
  .photoProfil{
    width: 100%;
    height: 70%;
  }
  .menu{
    width:100%;
    height: 200px;
    display: block;
  }
  .info{
    width: 100%;
    height: 30%;
    flex-direction: row;
  }
  .nomination{
    text-align: center;
    width: 65%;
    height: 100%;
  }
  .noteMoyenne{
    width: 35%;
    height: 100%;
  }
  .panelNotif{
    width: 100%;
    height:100%;
    min-width: 300px;
  }
  .panelCalendrier{
    width: 100%;
    height: 100%;
    min-width: 200px;

  }
  h2, h4{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .biberon{
    width: 70px;
    height: 70px;
  }
  .profile-img-max
  {
      width: 125px;
      height: 125px;
  }
}
