/* Classe principale de la barre de navigation */
.nav-default {
 /* Couleur de fond de la barre de navigation */
 background-color:#2d4f7a;
 border-color: #E7E7E7;
}
/* Couleur des titres affichés dans la barre */
.nav-default .navbar-brand {
 color: #f9f9f9;
}
/* Couleur utilisée lors du passage de la souris sur un titre de la barre */
.nav-default .navbar-brand:hover,
.nav-default .navbar-brand:focus {
 color: #5E5E5E;
}
/* Couleur utilisée pour les liens */
.nav-default .navbar-nav > li > a {
 color: #e3e9e9;
}
/* Couleur utilisée pour les liens lorsque la souris passe dessus */
.nav-default .navbar-nav > li > a:hover,
.nav-default .navbar-nav > li > a:focus {
 color: #333;
}
/* Couleur utilisée pour le lien actif (celui qui est affiché sur la page) */
.nav-default .navbar-nav > .active > a,
.nav-default .navbar-nav > .active > a:hover,
.nav-default .navbar-nav > .active > a:focus {
 color: #555;
 background-color: #E7E7E7;
}
/* Couleur utilisée pour un menu dépliant lorsqu'il est ouvert */
.nav-default .navbar-nav > .open > a,
.nav-default .navbar-nav > .open > a:hover,
.nav-default .navbar-nav > .open > a:focus {
 color: #555;
 background-color: #D5D5D5;
}
/* Caret */
.nav-default .navbar-nav > .dropdown > a .caret {
 border-top-color: #777;
 border-bottom-color: #777;
}
.nav-default .navbar-nav > .dropdown > a:hover .caret,
.nav-default .navbar-nav > .dropdown > a:focus .caret {
 border-top-color: #333;
 border-bottom-color: #333;
}
.nav-default .navbar-nav > .open > a .caret,
.nav-default .navbar-nav > .open > a:hover .caret,
.nav-default .navbar-nav > .open > a:focus .caret {
 border-top-color: #555;
 border-bottom-color: #555;
}
/* Version mobile, le menu devient une icône qui déroule une liste avec le menu en vertical */
.nav-default .navbar-toggle {
 border-color: #DDD;

}
.nav-default .navbar-toggle:hover,
.nav-default .navbar-toggle:focus {
 background-color: #DDD;

}
.nav-default .navbar-toggle .icon-bar {
 background-color: #CCC;

}
@media (max-width: 767px) {
 .nav-default .navbar-nav .open .dropdown-menu > li > a {
 color: rgb(255, 255, 255);
 }
 .nav-default .navbar-nav .open .dropdown-menu > li > a:hover,
 .nav-default .navbar-nav .open .dropdown-menu > li > a:focus {
 color: #333;
 }
}
.centrer{
  text-align: center;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
