body {
  text-align: center;
  background-image: url("/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-submit {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-submit:hover,
.btn-submit:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.container{
	padding-top: 150px;
}
