.results{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.result{
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px;
  border-radius: 10px;
}
.photo{
  padding-top: 15px;
  width: 20%;
  height: 100%;
  min-width: 200px;

}
.photoNounou{
  width: 120px;
  height: 120px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.datas{
  text-align: left;
  width: 80%;
  min-width: 400px;
}
h3, h4{
  margin: 0;
  padding: 0;
}
.boutons{
  padding-top: 60px;
}

.params{
  display: flex;
  flex-direction: row;
}
.param{
  width: 20%;
  display: flex;
  flex-direction: row;
  padding:5px;
}
.param-search{
  width: 75%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.page{
  padding-top: 50px;
  width: 100%;
  height: 100%;
}
.pageDecal{
  padding-top: 40vh;
  width: 100%;
  height: 100%;
}

.panel{
  background-color: rgba(255, 255, 255, 0.6);
}
.presentation{
  width:80%;
  border-radius: 10px;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .params{
    display: flex;
    flex-direction: column;
  }

  .param{
    width: 100%;
  }
}
.rechercheNounou{
  height: 30vh;
}
