{% extends 'base.html.twig' %}

{% block title %}Recherche d'une nounou{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<form action={{ path('recherche_nounou') }} method="get">
	<input type="text" name="ville">
	<input type="date" name="debut">
	<input type="submit" value="rechercher">
</form>

		
{% endblock %}
