{% extends 'base.html.twig' %}
{% block javascripts %}{% endblock %}
{% block title %} Inscription - Parent {% endblock %}
{% block stylesheets %}
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ asset('CSS/connexion.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('CSS/stdAuth.css') }}">
{% endblock %}
{% block body %}
	<div class="container">
	    <div class="row">
	      <div class="col-md-6 col-md-offset-3">
	        <div class="panel panel-login">
	          <div class="panel-heading">
	            <div class="row">
	              <h3 class="form-signin-heading">Je souhaite m'incrire en tant que parent :</h3>
	              <br>
	            </div>
	          </div>
					{{ form_start(form) }}
	          <div class="panel-body">
	            <div class="row">
	              <div class="col-lg-12">
	                <div class="form-group">
	                    {{ form_widget(form.utilisateur.nom, {"attr":{"placeholder": "Mon nom", "class": "form-control"}})}}
	                  </div>
	                  <div class="form-group">
	                    {{ form_widget(form.utilisateur.prenom, {"attr":{"placeholder": "Mon prenom", "class": "form-control"}})}}
	                  </div>
	                  <div class="form-group">
	                    {{ form_widget(form.utilisateur.email, {"attr":{"placeholder": "Mon email", "class": "form-control"}})}}
	                  </div>
	                  <div class="form-group">
	                    {{ form_widget(form.utilisateur.ville, {"attr":{"placeholder": "Ma ville", "class": "form-control"}})}}
	                  </div>
	                  <div class="form-group">
	                    {{ form_widget(form.utilisateur.mdp.first, {"attr":{"placeholder": "Mot de passe", "class": "form-control"}})}}
	                  </div>
	                  <div class="form-group">
	                    {{ form_widget(form.utilisateur.mdp.second, {"attr":{"placeholder": "Retaper le mot de passe", "class": "form-control"}})}}
	                  </div>
	                  <div class="form-group">
	                    {{ form_widget(form.information, {"attr":{"placeholder": "Certaines informations importantes me concernant", "class": "form-control"}})}}
	                  </div>
	                  <div class="form-group">
	                    <div class="row">
	                      <div class="col-sm-6 col-sm-offset-3">
	                        {{ form_widget(form.envoyer, {"attr":{"value": "Je m'inscrit !", "class": "form-control btn btn-submit"}})}}
	                      </div>
	                    </div>
	                  </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{{ form_end(form) }}
{% endblock %}
