{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>you have to sign up !</h1>
    <form action="signup/put" method="post">
        <input type="text">
        <input type="text">
        <input type="email">
    </form>
    
    
</div>
{% endblock %}
