<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('CSS/navbar.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include('NavBar.html.twig')%}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
