{% block NavBar %}
<nav class="navbar nav-default navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a href="{{path('root')}}"><img src="{{asset('images/path73.png')}}" width="115" height="50" alt="Logo"></img></a>
   </div>
   <div class="collapse navbar-collapse" id="myNavbar">
     <ul class="nav navbar-nav navbar-right">
       {% if utilisateur %}
        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Connecté en tant que {{ utilisateur.prenom}} {{utilisateur.nom}}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% if "ROLE_NOUNOU" in roles %}
            {% if image %}
              <li> <img class="profile-img centrer" src="{{asset(image)}}"/></li>
            {% else %}
              <li> <img class="profile-img centrer" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"/></li>
            {% endif %}
          {% endif %}
          <li><h4 class="centrer">Bonjour, {{ utilisateur.prenom}} {{utilisateur.nom}}</h4></li>
          <li class="divider"></li>
          <li class="dropdown-header">Profil Nounou</li>
          {% if "ROLE_NOUNOU" in roles %}
          <li><a href="{{path('accueil')}}"><span class="glyphicon glyphicon-th-large"></span> Tableau de bord Nounou</a></li>
            <li><a href="{{path('param_nounou')}}"><span class="glyphicon glyphicon-cog"></span> Paramètrer mon profil nounou</a></li>
          {% else %}
            <li><a href=""><span class="glyphicon glyphicon-question-sign"></span> Je souhaite devenir nounou</a></li>
          {% endif %}

          <li class="divider"></li>
          <li class="dropdown-header">Profil Parent</li>
          {% if "ROLE_PARENT" in roles %}
            <li><a href="{{path('accueil')}}"><span class="glyphicon glyphicon-th-large"></span> Tableau de bord Parent</a></li>
            <li><a href="{{path('param_parent')}}"><span class="glyphicon glyphicon-cog"></span> Paramètrer mon profil parent</a></li>
          {% else %}
            <li> <a href=""><span class="glyphicon glyphicon-question-sign"></span> Je veux faire garder mes enfants</a></li>
          {% endif %}

         <li class="divider"></li>
        <li><a href="{{path('logout')}}"><span class="glyphicon glyphicon-log-in"></span> Se déconnecter</a></li>
        </ul></li>
       {% else %}
        <li><a  class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> S'inscrire
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{path('inscription_parent')}}">S'inscrire en tant que Parent</a></li>
          <li><a href="{{path('inscription_nounou')}}">S'inscrire en tant que Nounou</a></li>
        </ul>
        </li>
        <li><a href="{{path("connexion")}}"><span class="glyphicon glyphicon-log-in"></span> Se Connecter</a></li>
     {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
