{% extends 'base.html.twig' %}
{% block stylesheets %}
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ asset('CSS/connexion.css') }}">
  <script type="text/javascript" src="{{asset('JS/connexion.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('CSS/stdAuth.css') }}">
{% endblock %}
{% block body %}
<div class="container">
        	<div class="row">
    			<div class="col-md-6 col-md-offset-3">
    				<div class="panel panel-login">
    					<div class="panel-heading">
                <div class="row">
                  <h3 class="form-signin-heading">Me connecter en tant que :</h3>
                  <br>
                </div>
    						<div class="row">
                  <div class="col-xs-6">
    								<a href="#" class="active" id="connexion_nounou">Parents</a>
    							</div>
    							<div class="col-xs-6">
    								<a href="#" id="connexion_parent">Nounou</a>
    							</div>
    						</div>
    						<hr>
    					</div>
    					<div class="panel-body">
    						<div class="row">
    							<div class="col-lg-12">
    								<form id="login-form" action="{{ path('connexion') }}" method="post" role="form" style="display: block;">
                      {% if error %}
                          <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                      {% endif %}
    									<div class="form-group">
    										<input type="text" name="_username" id="username" tabindex="1" class="form-control" placeholder="Email..." value="">
    									</div>
    									<div class="form-group">
    										<input type="password" name="_password" id="password" tabindex="2" class="form-control" placeholder="Mot de Passe...">
    									</div>
    									<div class="form-group text-center">
    										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
    										<label for="remember">Se souvenir de moi</label>
    									</div>
    									<div class="form-group">
    										<div class="row">
    											<div class="col-sm-6 col-sm-offset-3">
    												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-submit" value="Se connecter">
    											</div>
    										</div>
    									</div>
    									<div class="form-group">
    										<div class="row">
    											<div class="col-lg-12">
    												<div class="text-center">
    													<a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Mot de passe oublié ?</a>
    												</div>
    											</div>
    										</div>
    									</div>
    								</form>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
</form>
{% endblock %}
